.montagu-slab {
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .bg-hero{
    border-top-left-radius: 60%;
    position: absolute;
    width: 745px;
  }
  .manrope-small {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  @media only screen and (max-width: 467px) {
    .bg-hero{
      width: 100%;   
    }
  }