.montagu-slab {
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  .manrope-small {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  